*.bk
*.map
.env
.env.*
/ganbare_backend/src/bin/posttest.rs
/ganbare_backend/src/bin/pretest.rs
.sass-cache
*.css.map
.DS_Store
target
/assets_dev/
/audio/
/images/
/backups/
/static/content_audio
/static/content_images
/static/css/main.css
/static/ts/
/user_audio/
/ganbare_backend/src/bin/image_cleanup
/ganbare_backend/src/bin/image_cleanup_done
