
#main.menuOn #quiz {
	-webkit-filter: blur(1px); /* Safari */
    filter: blur(1px);
}

#main.errorOn #quiz {
	-webkit-filter: blur(1px); /* Safari */
    filter: blur(1px);
}

#main {
		.error {
			color: red;
		}

		#quiz {
		}

		.uiButton {
			z-index: 200;
			opacity: 0.2;
			img {
				max-width: 100%;
				height: auto;
			}
			border: none;
			padding: 0;
			width: 2.5em;
			position: absolute;
		}

		#menuButton {
			top: 0;
			right: 0.4em;
		}

		#backButton {
			top: 0;
			left: 0.4em;
		}

		#errorSection {
			#errorStatus {
				position: absolute;
				top: 3em;
				width: 100%;
				text-align: center;
			}
			z-index: 300;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(225, 223, 232, 0.6);
			border-radius: _size(border-radius);
		}

		#settings {
			z-index: 100;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			background-color: rgba(225, 223, 232, 0.6);
			border-radius: _size(border-radius);

			button.linklike {
				height: auto;
				line-height: 2em;
				font-size: 0.8rem;
			}
			ul {
				text-align: left;
				position: absolute;
				top: 3.5em;
				right: 0;
				background: _palette(bg);
				border-radius: _size(border-radius);
				box-shadow: -2px 3px 6px -1px _palette(border);
				padding: 1em 4em 1em 1em;
				margin: 0;
				li {
					margin: 0;
					list-style-type: none;
				}
			}
			font-size: 0.8rem;
		}

		#topmessage {
			line-height: 2em;
			font-size: 0.8rem;
			position: absolute;
			top: 0;
			left: 0.4em;
		}

		hr {
			position: relative;
			left: -2em;
			width: calc(100% + 4em);
		}

}


/* AnswerMark */

.answerMark {
	position: absolute;
	left: calc(50%);
	top: calc(55%);
    transition: all 200ms linear;
    margin-top: -111px;
    margin-left: -111px;
}

.answerMark.hidden {
	opacity: 0;
	transform: scale(3);
}

.answerList {
	position: relative;
	button {
		height: auto;
		padding: 0.5em 0 0.5em 0;
		img {
			max-width: 23em;
			max-height: 12em;
		}
	}
	margin-bottom: -3em;
}


/* stylized file upload button added by Pyry */
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* this is for the add_quiz form, to have many input things on the same row. */
.inlineContainer > span, .inlineContainer > input, .inlineContainer > button {
			display: inline-block !important;
			width: auto;
			margin-right: 0.3em;
			margin-left: 0.3em;
    		padding: 0 0.5em !important;
}

.buttonHilight {
	background-color: #F8DDDD !important;
	border-color: #FF6666 !important;
}

#wordSection {
	max-width: 40em;
}

#wordExplanation {
	img {
		max-width: 100%;
		height: auto;
		max-height: 20em;
	}
}

#wordShow {
	vertical-align: 13%;
}

#wordShowKana {
	font-size: 2em;
	letter-spacing: 0.1em;
}

span.accent {
	position: relative;
	img {
		-webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;    user-select: none;
		z-index: -100;
		position: absolute;
		top: -0.12em;
		left: -0.1em;
		width: 1.1em;
	}
}

.soundicon {
	vertical-align: -20%;
	width: 2em;
	height: auto;
}
