
#main.menuOn #quiz {
	-webkit-filter: blur(1px); /* Safari */
    filter: blur(1px);
}

#main.errorOn #quiz {
	-webkit-filter: blur(4px); /* Safari */
    filter: blur(4px);
}

#main.errorOn > section {
	-webkit-filter: blur(4px); /* Safari */
    filter: blur(4px);
}

#main {


		max-width: 40em;
		&.fullwidth {
			max-width: 100%;
			ul li {
				list-style-type: none;
			}
		}

		.error {
			color: red;
		}

		.uiButton {
			z-index: 200;
			opacity: 0.2;
			img {
				max-width: 100%;
				height: auto;
			}
			border: none;
			padding: 0;
			width: 2.5em;
			position: absolute;
		}

		#menuButton {
			top: 0;
			right: 0.4em;
		}

		#backButton {
			top: 0;
			left: 0.4em;
		}

		#errorSection {
			#errorStatus {
				position: absolute;
				top: 3em;
				width: 100%;
				text-align: center;
			}
			z-index: 400;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(225, 223, 232, 0.6);
			border-radius: _size(border-radius);
		}

		input[type="button"].linklike,
		button.linklike {
			height: auto;
			line-height: 2em;
			font-size: 0.8rem;
		}

		input[type="button"].compact,
		button.compact {
			padding: 0 0.2em 0 0.2em;
		}

		input[type="number"].compact {
			width: 3em;
		}

		#buttonContainer {
			display: table;
			margin: auto;

			.buttonRow {
				display: table-row;
				width: 100%;
				* {
					margin-top: 0.8em;
					width: 100%;
				}
			}
		}

		.multilineButton {
			height: 5.5em;
			line-height: 2.2em;
		}

		#settings {
			z-index: 100;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			background-color: rgba(225, 223, 232, 0.6);
			border-radius: _size(border-radius);

			ul {
				text-align: left;
				position: absolute;
				top: 3.5em;
				right: 0;
				background: _palette(bg);
				border-radius: _size(border-radius);
				box-shadow: -2px 3px 6px -1px _palette(border);
				padding: 1em 4em 1em 1em;
				margin: 0;
				li {
					margin: 0;
					list-style-type: none;
				}
			}
			font-size: 0.8rem;
		}

		#topmessage {
			line-height: 2em;
			font-size: 0.8rem;
			position: absolute;
			top: 0;
			left: 0.4em;
		}

}


/* AnswerMark */

.answerMark {
	z-index: 300;
	position: absolute;
	left: calc(50%);
	top: calc(55%);
    transition: all 200ms linear;
    margin-top: -111px;
    margin-left: -111px;
}

.answerMark.hidden {
	opacity: 0;
	transform: scale(3);
}

.userTable {
	thead {
		border-bottom: 1px solid _palette(border);
	}
	td, th {
		border-right: 1px solid _palette(border);
		padding: 0.3em;
		text-align: center;
	}
}

.eventTable {
	thead {
		border-bottom: 1px solid _palette(border);
	}
	td, th {
		border-right: 1px solid _palette(border);
		padding: 0.3em;
		text-align: center;
	}
}

.audioTable {
	td, th {
		border-right: 1px solid _palette(border);
		border-top: 1px solid _palette(border);
		padding: 0.3em;
		text-align: center;
	}
}

.audioTable thead {
	border-bottom: 1px solid _palette(border);
}

.bordered {
		border-radius: _size(border-radius);
		border: solid 1px _palette(border);
		padding: 0.2em;
}

@include breakpoint(xsmall) {
	input[type="submit"], input[type="reset"], input[type="button"], button, .answerButton, .button {
		padding: 0 0.5em;
	}
}

@include breakpoint(xxsmall) {

	#main {
		max-width: 100vw;
	}

	h1 {
		margin-bottom: (_size(element-margin) * 0.2);
	}

	p {
		margin-bottom: (_size(element-margin) * 0.6);
	}

	#quiz {
		display: block;
		margin: 0;
		padding: 0;
		height: 100%;
	}

	#questionSectionFlexContainer {
		height: 100%;
		@include vendor('display', 'flex');
		@include vendor('flex-direction', 'column');
		@include vendor('justify-content', 'center');
		#questionExplanation {
			margin-bottom: 1.7em;
		}
	}

	#wordSectionSlideContainer {
		padding-top: 2.4em;
		#wordStatus {
			margin-bottom: 1.7em;
		}
	}

}



.horizontalFlexContainer {
	width: 100%;
	@include vendor('display', 'flex');
	@include vendor('flex-direction', 'row');
	@include vendor('justify-content', 'center');

	&>* {
		margin: 0.5em;
	}
}

/* This fixes the blue outline on Chrome */
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus, {
	outline:0;
}

/* This fixes the ugly button background color on mobile Chrome */
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }


/* This fixes the flashing on Webkit */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.answerButton
.button {

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;

}

.answerList > img {
	max-width: 23em;
	max-height: 23em;
}

.answerList {
	padding: 0;
	margin: 0;
	position: relative;

	button,
	.answerButton {
		
		background-color: transparent;
		border-radius: _size(border-radius);
		display: inline-block;
		margin-bottom: 0;

		height: auto;
		padding: 0.5em 0 0.5em 0;
		img {
			max-width: 23em;
			max-height: 12em;
		}

	}

	@include breakpoint(xxsmall) {
		p {
			margin-bottom: 0.5em;
		}

		button,
		.answerButton {
			max-width: 100%;
			img {
				max-width: 100%;
			}
		}

		max-width: 100%;

	}

	*:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.weak {
	 border-color: #f0f0f0;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* this is for the add_quiz form, to have many input things on the same row. */
.inlineContainer > span, .inlineContainer > input, .inlineContainer > button {
			display: inline-block !important;
			width: auto;
			margin-right: 0.3em;
			margin-left: 0.3em;
    		padding: 0 0.5em !important;
}

.buttonHilight {
	background-color: #F8DDDD !important;
	border-color: #FF6666 !important;
}

#wordSection {
	max-width: 30em;
}

#wordExplanation.imageLoaded img {
	opacity: 1;
	max-height: 20em;
}

#wordExplanation:not(.imageLoaded) img {
	opacity: 0;
	max-height: 15em;
}

#wordExplanation,
.wordExplanation {
	img {
		height: auto;
		max-width: 100%;
    	transition: all 300ms linear;
		@include breakpoint(xxsmall) {
			width: auto;
			max-height: 38vh !important;
		}
	}
}


#wordShowButton,
.wordShowButton {
	vertical-align: 13%;
}

#wordShowKana,
.wordShowKana {
	font-size: 2em;
	letter-spacing: 0.1em;
}

.cardBody .wordShowKana {
	margin-bottom: 1em;
	height: 2em;
}

*[contenteditable="true"]
{
	display: inline-block;
	width: 100%;
}

input.wordShowKana {
	padding: 0;
}

#main ul.manage, ul.manage ul {
	width: 38em;
	h3 {
		margin-top: 2em;
	}

	text-align: left;
	list-style: none;
	padding-left: 0;
	li {
		padding-left: 0;
	}
}

.wordyExplanation {
	text-align: left;
}

#surveyBox {

	.smallscreen {
		display: none;
	}

	textarea {
		height: 10em;
	}

	#questionText {
		min-height: 3.7em;
	}
	.multilineButton {
		line-height: 2em;
		height: 5em;
		width: 100%;
		white-space: normal;
	}
	p {
		margin-bottom: 0.5em;
	}
	*:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	@include breakpoint(xxsmall) {
		#questionText {
			min-height: 5.5em;
		}
		.multilineButton {
			line-height: 1.7em;
			height: 5.3em;
			width: 100%;
			white-space: normal;
			margin-bottom: 0.25em;
		}
		.smallscreen {
			display: inline;
		}
	}

}

.tightBottom {
	margin-bottom: 0;
}

.infoCard {
	display: none;
}

span.accent {
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
}

.soundicon {
	vertical-align: -20%;
	width: 2em;
	height: auto;
}

.hilight {
	background-color: #cc0000;
}

.vertical{
    writing-mode:tb-rl;
	@include vendor('transform', 'translate(20px, -2px) rotate(90deg)');
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
}

