{{#partial main_section}}

	<section id="topmessage">
		<form action="/"><button id="backButton" class="iconlike uiButton"><img src="/static/images/back.png"></button></form>
		<p class="topmessageparagraph" style="display: none;"></p>
	</section>
	<header>
		<h1>Salasanan vaihtaminen</h1>
	</header>
	<hr />
	<form action="/change_password" method="post" id="pwchanger">
		<label>Vanha salasana: 
	{{#if authError}}<strong class="error">Salasana oli väärin!</strong>{{/if}}
		<input type="password" name="old_password" id="old_password"{{#if authError}} class="buttonHilight"{{/if}}></label>
		<label>Uusi salasana: <strong class="error" id="new_password_error"></strong>
		<input type="password" name="new_password" id="new_password"></label>
		<label>Uusi salasana (varmistus):
		<input type="password" name="new_password_check" id="new_password_check"></label>
		<div class="field">
			<input type="submit" class="button" value="Vaihda">
		</div>
	</form>
	<p id="message"></p>

{{/partial}}

{{#partial page_script_inline}}

	if ({{#if password_changed}}{{password_changed}}{{else}}false{{/if}}) {
		$("#pwchanger").hide();
		$("#message").text("Salasana vaihdettu!");
	}
	
	var old_password = $("#old_password");
	var new_password = $("#new_password");
	var new_password_check = $("#new_password_check");
	$("#pwchanger").submit(function( event ) {
		if (old_password.val() === "") {
	 		event.preventDefault();
			old_password.addClass("buttonHilight");
		}
		if (new_password.val().length < 8) {
	 		event.preventDefault();
	 		$("#new_password_error").text("Vähintään 8 merkkiä!");
			new_password.addClass("buttonHilight");
		}
		if (new_password.val() !== new_password_check.val()) {
	 		event.preventDefault();
	 		new_password_check.prop("placeholder", "Ei täsmää!");
			new_password_check.addClass("buttonHilight");
		}
	});

{{/partial}}

{{~> base.html ~}}
