{{#*inline "main_section"}}

	<section id="topmessage">
		<form action="/"><button id="backButton" class="iconlike uiButton"><img src="/static/images/back.png"></button></form>
		<p class="topmessageparagraph" style="display: none;"></p>
	</section>
	<button id="menuButton" class="iconlike uiButton"><img src="/static/images/menu.png"></button>
<section id="settings" style="display: none;">
	<ul id="settingsMenu">
		<li><form action="/logout" method="post"><button type="submit" class="linklike">Kirjaudu ulos</button></form></li>
		<li><a href="/change_password" method="get">Vaihda salasanaa</a></li>
		<li><a href="/settings">Asetukset</a></li>
		<li><a href="/thanks">Kiitokset</a></li>
	</ul>
</section>
<script>
const main = document.getElementById("main");
const settingsArea = document.getElementById("settings");
const menuButton = document.getElementById("menuButton");
const settingsMenu = document.getElementById("settingsMenu");

function toggleMenu(event) {
	settingsArea.style.display = (settingsArea.dataset.toggled ^= 1) ? "block" : "none";
	main.classList.toggle("menuOn");
	event.stopPropagation(); 
}

function cancelMenu(event) {
	settingsArea.style.display = "none";
	main.classList.remove("menuOn");
	event.stopPropagation(); 
}

settingsArea.style.display = "none";
settingsArea.addEventListener("click", cancelMenu);
document.body.addEventListener("click", cancelMenu);
menuButton.addEventListener("click", toggleMenu);
settingsMenu.addEventListener("click", event => event.stopPropagation());
</script>

	<header>
		<h1>Salasanan vaihtaminen</h1>
	</header>
	<hr />
	<form action="/change_password" method="post" id="pwchanger">
		<label>Vanha salasana: 
	{{#if authError}}<strong class="error">Salasana oli väärin!</strong>{{/if}}
		<input type="password" name="old_password" id="old_password"{{#if authError}} class="buttonHilight"{{/if}}></label>
		<label>Uusi salasana: <strong class="error" id="new_password_error"></strong>
		<input type="password" name="new_password" id="new_password"></label>
		<label>Uusi salasana (varmistus):
		<input type="password" name="new_password_check" id="new_password_check"></label>
		<div class="field">
			<input type="submit" class="button" value="Vaihda">
		</div>
	</form>
	<p id="message"></p>

{{/inline}}

{{#*inline "page_script_inline"}}

	if ({{#if password_changed}}{{password_changed}}{{else}}false{{/if}}) {
		$("#pwchanger").hide();
		$("#message").text("Salasana vaihdettu!");
	}
	
	var old_password = $("#old_password");
	var new_password = $("#new_password");
	var new_password_check = $("#new_password_check");
	$("#pwchanger").submit(function( event ) {
		var prevent = false;
		if (old_password.val() === "") {
	 		prevent = true;
			old_password.addClass("buttonHilight");
		}
		if (new_password.val().length < 8) {
	 		prevent = true;
	 		$("#new_password_error").text("Vähintään 8 merkkiä!");
			new_password.addClass("buttonHilight");
		}
		if (new_password.val() !== new_password_check.val()) {
	 		prevent = true;
	 		new_password_check.prop("placeholder", "Ei täsmää!");
			new_password_check.addClass("buttonHilight");
		}
		if (prevent) {
	 		event.preventDefault();
	 		return;
		}
		// SUBMIT

		$("#submitButton").attr("disabled", true);
		setTimeout(function() {
			$("#submitButton").attr("disabled", false);
		}, 5000);
	});

{{/inline}}

{{~> base.html ~}}
