{{#partial main_section}}

	<header>
		<span class="avatar"><img src="static/images/avatar.jpg" alt="" /></span>
		<h1>{{ title }}</h1>
		<p>Tieteellinen koe japanin ääntämyksestä</p>
	</header>
	<hr />
	<form method="post" action="/confirm?secret={{ secret }}">
		<p>Käyttäjätunnuksenasi toimii</p>
		<p><b>{{ email }}</b></p>
		<br />
		<p>Valitse itsellesi salasana:</p>
		<div class="field">
			<input type="password" name="password" id="password" placeholder="Salasana" />
		</div>
		<div class="field">
			<input type="submit" class="button" value="Vahvista">
		</div>
	</form>
	<hr />

{{/partial}}

{{~> base.html ~}}
