{{#*inline "main_section"}}

	<header>
		<h1>{{ title }}</h1>
		<p>Tieteellinen koe japanin ääntämyksestä</p>
	</header>
	<hr />
	<form method="post" id="createuser" action="/confirm">
		<input type="hidden" name="secret" id="secret" value="{{ secret }}"/>
		<input type="hidden" name="hmac" id="hmac" value="{{ hmac }}"/>
		<p>Käyttäjätunnuksesi on<br />
		<b style="font-size: 1.2em">{{ email }}</b></p>
		<p>Valitse itsellesi salasana:</p>
		<p id="password_error" class="error" style="display: none;"></p>
		<input type="email" name="email" id="email" value="{{ email }}" style="display: none;">
		<div class="field">
			<input type="password" name="password" id="password" placeholder="Salasana" />
		</div>
		<div class="field">
			<input type="password" name="password_check" id="password_check" placeholder="Salasanan varmistus" />
		</div>
		<div class="field">
			<input type="submit" class="button" id="submitButton" value="Vahvista">
		</div>
	</form>

{{/inline}}

{{#*inline "page_script_inline"}}
$(function() {
	
	var new_password = $("#password");
	var new_password_check = $("#password_check");
	$("#createuser").submit(function( event ) {
		var prevent = false;
		if (new_password.val().length < 8) {
			prevent = true;
	 		$("#password_error").text("Vähintään 8 merkkiä!").show();
			new_password.addClass("buttonHilight");
		}
		if (new_password.val() !== new_password_check.val()) {
	 		prevent = true;
	 		new_password_check.prop("placeholder", "Ei täsmää!");
			new_password_check.addClass("buttonHilight");
		}
		if (prevent) {
	 		event.preventDefault();
	 		return;
		}

		// SUBMIT

		$("#submitButton").attr("disabled", true);
		setTimeout(function() {
			$("#submitButton").attr("disabled", false);
		}, 5000);
	});
})
{{/inline}}

{{~> base.html ~}}
