<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Hei, tai こんにちは！</h1>
		<p>Olen Pyry Kontio ja olen japanin pääaineopiskelija maailman kulttuurien laitoksella. Muistatko vielä minut?
		Kävin viime vuoden lopulla japanin tunneilla kertomassa tutkimuksestani, jossa yritän opettaa japanin kielen sana-aksentteja japanin
		opiskelijoille.</p>
		<p>Aikataulut ovat – osin teknisistä ja osin muista syistä – venyneet kuukausikaupalla, mutta tässä on vihdoin kutsu aksentteja treenaavaan
		harjoitusohjelmaan! Kiinnostaako kokeeseen osallistuminen sinua vielä? (Voit jättää tämän viestin huomiotta, jos et voi tai halua enää osallistua.)</p>
		<p>Koejakson on tarkoitus kestää kymmenen päivää alkaen siitä päivästä, jolloin aloitat harjoittelun, ja toivoisin että kokeeseen osallistujat käyttäisivät harjoitusohjelmaa tänä aikana aktiivisesti. Toivoisin myös, että kiinnostuneet aloittaisivat harjoittelun heti lähipäivinä! (Ohjelma on käytettävissä myös koejakson jälkeen, jos haluat opiskella lisää aksentteja itsenäisesti.) Alla on kutsulinkki, jota klikkaamalla saa tehtyä itselleen käyttäjätunnuksen.</p>
		<br>
		<p>Tervetuloa käyttämään <strong>{{ site_name }}</strong>-harjoitusohjelmaa.<p>
		<p>Vahvista tunnuksesi alla olevassa osoitteessa:<p>
		<p><a href="{{ site_link }}confirm?secret={{ secret }}&hmac={{ hmac }}">{{ site_link }}confirm?secret={{ secret }}&hmac={{ hmac }}</a></p>
	</body>
</html>
