<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Hei!</h1>

		<p>Tässä on kutsu japanin sanakorkoon liittyvään kokeeseen. Kiitos paljon osallistumisesta! Koe kestää noin 5-10 minuuttia.
		Osallistumisestasi on apua japanin kielen opiskelun ja opettamisen kehittämisessä. Alla on kutsulinkki, jota klikkaamalla pääsee kokeeseen.
		Koe saattaa tuntua todella vaikealta, mutta älä lannistu, vaan ole hyvä ja tee se loppuun saakka. Emme arvostele sinun osaamistasi,
		vaan keräämme yleisesti dataa siitä, miten japanin sanakorko hahmottuu ihmiselle joka ei tunne japania kielenä valmiiksi.</p>
		<br>
		<p>(Sivusto pyytää keksimään salasanan, mutta tämä on lähinnä sivua pitkäkestoisesti käyttävää koeryhmää varten. Voit asettaa salasanaksi vapaasti mitä vain.)</p>
		<br>
		<p>Tervetuloa käyttämään <strong>{{ site_name }}</strong>-harjoitusohjelmaa.<p>
		<p>Vahvista tunnuksesi alla olevassa osoitteessa:<p>
		<p><a href="{{ site_link }}confirm?secret={{ secret }}&hmac={{ hmac }}">{{ site_link }}confirm?secret={{ secret }}&hmac={{ hmac }}</a></p>
	</body>
</html>
