{{#partial main_section}}

	<h1>Events</h1>

	<table class="eventTable">
		<thead>
			<tr id="eventHeader"><th>Events</th></tr>
		</thead>
		<tbody id="usersList">

		</tbody>
	</table>

{{/partial}}

{{#partial page_script_inline}}

	var eventHeader = $("#eventHeader");
	var usersList = $("#usersList");
	$.get("/api/events", function(eventResp) {
	$.get("/api/groups", function(groupResp) {
		var user_exp = new Array();
		eventResp.forEach(function(tuple) {
			var event = tuple[0];
			var exps = tuple[1];
			exps.forEach(function(t) {
				var u = t[0];
				var workable = t[1];
				var exp = t[2];
				if (user_exp[u.id] === undefined) {
					user_exp[u.id] = {user: u, experience: new Array(), workable: new Array()};
				}
				user_exp[u.id].workable[event.id] = workable;
				user_exp[u.id].experience[event.id] = exp;
			});
			var eventCell = $('<th></th>')
				.appendTo(eventHeader);
			if (event.published === true) {
				var eventNameSpan = $('<span>'+event.name+'</span>')
				.appendTo(eventCell);
			} else {
				var eventNameSpan = $('<span><strike>'+event.name+'</strike></span>')
				.appendTo(eventCell);
			}
			var groupSelect = $('<select><option value="null"'+((event.required_group===null)?' selected':'')+'>None</option></select>')
			.appendTo(eventCell);
			groupResp.forEach(function(group) {
				$('<option value="'+group.id+'"'+((event.required_group===group.id)?' selected':'')+'>'+group.group_name+'</option>').appendTo(groupSelect);
			});

			groupSelect.change(function() {
				$.ajax({
					type: 'PUT',
					url: "/api/events/"+event.id,
					contentType: "application/json",
					data: JSON.stringify({id: event.id, required_group: parseInt($(this).val())}),
					success: function(resp) {
						location.reload();
					},
				});
			});

			eventNameSpan.click(function() {
				$.ajax({
					type: 'PUT',
					url: "/api/events/"+event.id,
					contentType: "application/json",
					data: JSON.stringify({id: event.id, published: !event.published }),
					success: function(resp) {
						location.reload();
					},
				});
			});

		});

		user_exp.forEach(function(ue) {
			var userRow = $('<tr><td>'+ue.user.email+'</td></tr>').appendTo(usersList);
			eventResp.forEach(function(tuple) {
				var event = tuple[0];
				var work = ue.workable[event.id];
				var exp = ue.experience[event.id];
				if (work === false) {
					$('<td></td>').appendTo(userRow);
				} else if (!event.published) {
					$('<td><i class="fa fa-circle-o" style="opacity: 0.2" aria-hidden="true"></i></td>').appendTo(userRow);
				} else if (exp === null) {
					$('<td><i class="fa fa-circle-o" aria-hidden="true"></i></td>').appendTo(userRow);
				} else if (exp.event_finish === null) {
					$('<td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>').appendTo(userRow);
				} else if (exp.event_finish !== null) {
					$('<td><i class="fa fa-check-circle" aria-hidden="true"></i></td>').appendTo(userRow);
				}
			});
		});
	});
	});

{{/partial}}

{{~> base.html main_class=fullwidth ~}}
