{{#*inline "main_section"}}

	<header>
		<span class="avatar"><img src="static/images/avatar.jpg" alt="" /></span>
		<h1>{{ title }}</h1>
		<p>Opetellaan japanin ääntämystä!</p>
	</header>
	<hr />
	{{#if authError}}
	<strong class="error">Käyttäjänimi tai salasana oli väärin!</strong>
	<form method="get" action="/send_password_reset_email">
		<input type="hidden" name="email" value="{{ email }}">
		<button class="compact">Vaihda unohtunut salasana</button>
	</form>
	{{/if}}
	<h2>{{#if authError}}Kokeile uudelleen{{/if}}{{#unless authError}}Koehenkilö, kirjaudu sisään{{/unless}}</h2>
	<form method="post" action="/login">
		<div class="field">
			<input type="email" name="email" id="email" value="{{ email }}" placeholder="Sähköposti" />
		</div>
		<div class="field">
			<input type="password" name="password" id="password" placeholder="Salasana" />
		</div>
		<div class="field">
			<input type="submit" class="button" value="Sisään">
		</div>
	</form>

{{/inline}}

{{~> base.html ~}}
