{{#partial page_script_link}}
	<script src="/static/js/howler.min.js"></script>
	<script src="/static/ts/quiz.js"></script>
{{/partial}}

{{#partial main_section}}

	<section id="topmessage">
		<p class="topmessageparagraph" style="display: none;"></p>
	</section>
	<button id="menuButton" class="iconlike uiButton"><img src="/static/images/menu.png"></button>
	<section id="settings" style="display: none;">
		<ul id="settingsMenu">
			<li><form action="/logout" method="post"><button type="submit" class="linklike">Kirjaudu ulos</button></form></li>
			<li><a href="/change_password">Vaihda salasanaa</a></li>
		</ul>
	</section>
	<div id="errorSection" style="display: none; ">
		<p id="errorStatus">{{ error_msg }}</p>
	</div>
	<section id="quiz">
		<div id="questionSectionFlexContainer">
		<div id="questionSection" style="display: none;">
			<p id="questionStatus" style="display: none;"></p>
			<p id="questionExplanation" style="display: none;"></p>
			<span class="avatar" id="qAvatar"><button class="imgbutton" id="qStartButton"><img src="static/images/play-button.png" alt="" /></button></span>
			<div class="answerList compactAnswerList">
				<img src="/static/images/maru_green2.png" id="maru" class="answerMark hidden" style="display:none;">
				<img src="/static/images/batsu.png" id="batsu" class="answerMark hidden" style="display:none;">
				<p class="questionText"></p>
				<p class="answer" style="display: none;" class="button"><button></button></p>
			</div>
		</div>
		</div>
		<div id="wordSection" style="display: none;">
		<div id="wordSectionSlideContainer">
			<p id="wordStatus" style="display: none;"></p>
			<p class="wordShowSection"><span id="wordShowKana"></span>　
			<button id="wordShowButton"><!--
			--><img src="/static/images/speaker_teal.png"  class="soundicon" id="speakerIconTeal"><!--
			--><img src="/static/images/speaker_pink.png" class="soundicon" id="speakerIconPink" style="display:none;"></button></p>
			<div id="wordExplanation"></div>
			<span class="avatar" id="wordAvatar"><button class="imgbutton" id="wordStartButton"><img src="static/images/play-button.png" alt="" /></button></span>
			<div id="buttonSection">
				<div id="buttonContainer"><!-- jQuery supports animating only "normal" divs so we need another one to have the display: table layout -->
					<label id="wordButtonLabel" style="display: none;"></label>
					<button id="wordOkButton" style="display: none;">Ok, painan sanan mieleeni!</button>
					<button id="exerciseOkButton" style="display: none;">Ok, tarkista vastaus!</button>
					<button id="exerciseSuccessButton" class="multilineButton">Muistin äänenpainon paikan<br>ja äänsin ongelmitta.</button>
					<button id="exerciseFailureButton" class="multilineButton">Suorituksessani on vielä<br>parantamisen varaa</button>
				</div>
			</div>
		</div>
		</div>
	</section>

{{/partial}}

{{~> base.html ~}}
