{{#partial page_script_link}}
	<script src="/static/js/howler.min.js"></script>
	<script src="static/ts/manage.js"></script>
{{/partial}}

{{#partial main_section}}

	<h1>Manager</h1>
	<p style="max-width: 28em; margin: auto;" id="build_number"></p>
	<p><input type="checkbox" id="priorityFilterToggle" checked="checked"><label for="priorityFilterToggle">Priority filter</label>
	<input type="number" value="2" id="priorityFilterValue"></p>
	<p>Show only <input type="checkbox" id="onlyPublishedStuffToggle" checked="checked"><label for="onlyPublishedStuffToggle">published</label>
	<input type="checkbox" id="onlyUnPublishedStuffToggle"><label for="onlyUnPublishedStuffToggle">unpublished</label> stuff!</p>
	<p id="loadingMsg">Loading... </p>
	<p id="filteredAmount" style="display: none;"></p>
	<ul class="manage">
	</ul>

{{/partial}}

{{#partial page_script_inline}}
$.get("/api/build_number", function(resp) {
	let build = resp[0];
	let commit = resp[1];
	let release = resp[2];
	$("#build_number").html("Build number: "+build+"<br>Commit: "+commit+"<br>Optimised: "+release);
});
{{/partial}}

{{~> base.html main_class="fullwidth" ~}}
