{{#partial page_script_link}}
	<script src="/static/js/howler.min.js"></script>
	<script src="static/ts/manage.js"></script>
{{/partial}}

{{#partial main_section}}

	<h1>Manager</h1>
	<p style="max-width: 28em; margin: auto;">Ganbare build version: <span id="build_number"></span></p>
	<input type="checkbox" id="priorityFilterToggle" checked="checked"><label for="priorityFilterToggle">Priority filter</label>
	<input type="number" value="2" id="priorityFilterValue"> <span id="filteredAmount"></span><br>
	<input type="checkbox" id="onlyPublishedStuffToggle" checked="checked"><label for="onlyPublishedStuffToggle">Only published stuff</label>
	<ul class="manage">
	</ul>

{{/partial}}

{{#partial page_script_inline}}
$("#build_number").load("/api/build_number");
{{/partial}}

{{~> base.html main_class=fullwidth ~}}
