{{#*inline "main_section"}}

<button id="menuButton" class="iconlike uiButton"><img src="/static/images/menu.png"></button>
<section id="settings" style="display: none;">
	<ul id="settingsMenu">
		<li><form action="/logout" method="post"><button type="submit" class="linklike">Kirjaudu ulos</button></form></li>
		<li><a href="/change_password" method="get">Vaihda salasanaa</a></li>
		<li><a href="/thanks">Kiitokset</a></li>
	</ul>
</section>
<script>
const main = document.getElementById("main");
const settingsArea = document.getElementById("settings");
const menuButton = document.getElementById("menuButton");
const settingsMenu = document.getElementById("settingsMenu");

function toggleMenu(event) {
	settingsArea.style.display = (settingsArea.dataset.toggled ^= 1) ? "block" : "none";
	main.classList.toggle("menuOn");
	event.stopPropagation(); 
}

function cancelMenu(event) {
	settingsArea.style.display = "none";
	main.classList.remove("menuOn");
	event.stopPropagation(); 
}

settingsArea.style.display = "none";
settingsArea.addEventListener("click", cancelMenu);
document.body.addEventListener("click", cancelMenu);
menuButton.addEventListener("click", toggleMenu);
settingsMenu.addEventListener("click", event => event.stopPropagation());
</script>

	<header>
		<h1>{{ title }}</h1>
		<p>Opetellaan japanin ääntämystä!</p>
	</header>
	<hr />
<section class="infoCard" id="infoCard1">
	<p class="wordyExplanation">Koe on nyt ohi. Kiitos osallistumisesta.</p>
</section>
{{/inline}}


{{#*inline "page_script_inline"}}

let maxCards = 2;

function getCurrentCard() {
	let loc = parseInt(location.hash[1]) || 1;
	loc = Math.max(Math.min(loc, maxCards), 1);
	return loc;
}

function updateInfoCard() {
	let currentInfoCard = getCurrentCard();

	$(".infoCard").hide();
	$("#infoCard"+currentInfoCard).show();
	$("#cardPerCard").text("("+currentInfoCard + "/"+maxCards+")");


	$("#nextInfoCard").show();
	$("#infoOver").hide();

	if (currentInfoCard == maxCards) {
		$("#nextInfoCard").hide();
		$("#infoOver").show();
	}
}

updateInfoCard();

$("#nextInfoCard").click(function() {
	location.hash = "#"+(getCurrentCard() + 1);
	updateInfoCard();
});

{{/inline}}

{{~> base.html ~}}
