{{#*inline "page_script_link"}}
	<script src="/static/js/howler.js"></script>
	<script src="/static/js/recorder.min.js"></script>
	<script src="/static/ts/mictest.js"></script>
{{/inline}}


{{#*inline "main_section"}}
	<button id="menuButton" class="iconlike uiButton"><img src="/static/images/menu.png"></button>
	<section id="settings" style="display: none;">
		<ul id="settingsMenu">
			<li><form action="/logout" method="post"><button type="submit" class="linklike">Kirjaudu ulos</button></form></li>
			<li><a href="/change_password">Vaihda salasanaa</a></li>
			<li><a href="/settings">Asetukset</a></li>
			<li><a href="/thanks">Kiitokset</a></li>
		</ul>
	</section>
	
<div id="errorSection" style="display: none; ">
	<p id="errorStatus">{{ error_msg }}</p>
</div>
<section id="pretestExplanation">
	<h1>Testi</h1>
	<p class="wordyExplanation">Koejakson lopuksi testaamme lyhyesti, miten taitosi kuulla ja tuottaa aksentteja on muuttunut.
	Älä stressaa turhia, vaan vastaa parhaasi mukaan kysymyksiin.</p>
	<p class="wordyExplanation">Ohjelma esittelee ensin sanoja ja lauseita, ja tenttaa niitä sitten hetken päästä. Voit esittelyvaiheessa
	kuunnella esiteltävän sanan tai lauseen niin monta kertaa kuin haluat.</p>
	<p class="wordyExplanation">Vastausvaiheessa sinun tulee välillä valita kahdesta vaihtoehdosta ja välillä
	ääntää sana itse – seuraa näytön ohjeita. Vastausaika on rajoitettu 8 sekuntiin.</p>
	<p><button disabled>< Edellinen</button>
	<button id="breaksBtn">Seuraava ></button></p>
</section>
<section id="breaksExplanation" style="display: none">
	<h1>Testi</h1>
	<p class="wordyExplanation">Normaalisti ei haittaa, vaikka pitäisit taukoja välissä harjoitellessasi aksentteja, mutta toivomme
	että tekisit tämän lopputestin pitämättä taukoja kesken kysymysten.</p>
	<p class="wordyExplanation">Testi voi tuntua turhauttavan vaikealta jopa harjoittelun jälkeen, mutta älä lannistu vaan vastaa parhaasi mukaan!</p>
	<p class="wordyExplanation">Varaa itsellesi aikaa noin 10 minuuttia, sekä meluton, häiriötön tila, jossa olet mieluusti yksin.</p>
	<p><button id="prevExplanation">< Edellinen</button>
	<button id="checkMic">Seuraava ></button></p>
</section>
<section id="micCheckExplanation" style="display: none">
	<h1>Testi</h1>
	<p class="wordyExplanation">Testissä nauhoitetaan välillä ääntäsi mikrofonin avustuksella (punainen merkkivalo välkkyy aina nauhoittaessa). Nauhoitus toimii vain Chrome- ja Firefox-selaimilla, joten varmistathan etukäteen että käytät yhteensopivaa selainta.</p>
	<p class="wordyExplanation">Ennen testin aloittamista tarkistamme mikrofonin ja kaiuttimien toimivuuden.</p>
	<p class="wordyExplanation">Paina "nauhoita"-painiketta ja
	sano normaaliin ääneen: "testi, testi", ja paina sitten "OK".</p>
	<p><button id="prevBreaks">< Edellinen</button>
	<button id="recStart">Nauhoita <img src="/static/images/record.png" class="recordIcon"></button>
	<button id="recDone" disabled>OK</button></p>
</section>

<section id="micCheckOk" style="display: none">
	<h1>Testi</h1>
	<p>Kuulitko oman äänesi? Jos kuulit, kaikki on kunnossa, ja voit aloittaa kokeen.</p>
	<p>Jos et kuullut, varmista että kaiuttimet ovat päällä ja mikrofoni toimii, ja paina "tarkista uudelleen".</p>
	<button id="checkMicAgain">tarkista uudelleen</button>
	<form action="/ok" method="post" style="display: inline-block"><button>Aloita koe</button><input type="hidden" value="{{ event_name }}" name="event_ok"></form>
</section>

{{/inline}}

{{~> base.html ~}}
