{{#*inline "main_section"}}

	<h1>Testi on nyt ohi!</h1>
	<p>Nyt pääset varsinaisen harjoittelun pariin.</p>
	<p>Voit edetä harjoitusten kanssa omaan tahtiin päivän mittaan. Kerralla tehtävien harjoitusten määrä on kuitenkin rajoitettu;
	tämän on tarkoitus vähentää pänttäämistä ja hajauttaa harjoittelua moneen sessioon. Yritä harjoitella päivittäin, tai ainakin
	niin, ettei väliin jää monen päivän aukkoja.</p>
	<p>Lähetämme sinulle muistutusviestin sähköpostiin, jos et koske harjoituksiin pariin päivään.</p>
	<form action="/ok" method="post"><button>Ok</button><input type="hidden" value="{{ event_name }}" name="event_ok"></form>

{{/inline}}

{{~> base.html ~}}
