{{#partial main_section}}

	<header>
		<h1>Salasanan vaihtaminen</h1>
	</header>
	<hr />

	{{#if changed}}
	<p><strong>Salasana vaihdettu!</strong></p>

	<form method="get" action="/">
	<p><button>Sisään</button><p>
	</form>
	{{ else }}

	<form method="post" action="/reset_password" id="pwchanger">
		<input type="hidden" name="secret" id="secret" value="{{ secret }}"/>
		<input type="hidden" name="hmac" id="hmac" value="{{ hmac }}"/>
		<input type="hidden" name="email" id="email" value="{{ email }}"/>
		<label>Uusi salasana: <strong class="error" id="new_password_error"></strong>
		<input type="password" name="new_password" id="new_password"></label>
		<label>Uusi salasana (varmistus):
		<input type="password" name="new_password_check" id="new_password_check"></label>
		<div class="field">
			<input type="submit" class="button" value="Vaihda">
		</div>
	</form>
	{{/if}}

{{/partial}}

{{#partial page_script_inline}}

	var new_password = $("#new_password");
	var new_password_check = $("#new_password_check");
	$("#pwchanger").submit(function( event ) {
		var prevent = false;
		if (new_password.val().length < 8) {
	 		prevent = true;
	 		$("#new_password_error").text("Vähintään 8 merkkiä!");
			new_password.addClass("buttonHilight");
		}
		if (new_password.val() !== new_password_check.val()) {
	 		prevent = true;
	 		new_password_check.prop("placeholder", "Ei täsmää!");
			new_password_check.addClass("buttonHilight");
		}
		if (prevent) {
	 		event.preventDefault();
	 		return;
		}
		// SUBMIT

		$("#submitButton").attr("disabled", true);
		setTimeout(function() {
			$("#submitButton").attr("disabled", false);
		}, 5000);
	});

{{/partial}}

{{~> base.html ~}}
