{{#*inline "main_section"}}
<section id="topmessage">
	<form action="/"><button id="backButton" class="iconlike uiButton"><img src="/static/images/back.png"></button></form>
	<p class="topmessageparagraph" style="display: none;"></p>
</section>
<button id="menuButton" class="iconlike uiButton"><img src="/static/images/menu.png"></button>
<section id="settings" style="display: none;">
	<ul id="settingsMenu">
		<li><form action="/logout" method="post"><button type="submit" class="linklike">Kirjaudu ulos</button></form></li>
		<li><a href="/change_password" method="get">Vaihda salasanaa</a></li>
		<li><a href="/settings">Asetukset</a></li>
		<li><a href="/thanks">Kiitokset</a></li>
	</ul>
</section>
<script>
const main = document.getElementById("main");
const settingsArea = document.getElementById("settings");
const menuButton = document.getElementById("menuButton");
const settingsMenu = document.getElementById("settingsMenu");

function toggleMenu(event) {
	settingsArea.style.display = (settingsArea.dataset.toggled ^= 1) ? "block" : "none";
	main.classList.toggle("menuOn");
	event.stopPropagation(); 
}

function cancelMenu(event) {
	settingsArea.style.display = "none";
	main.classList.remove("menuOn");
	event.stopPropagation(); 
}

settingsArea.style.display = "none";
settingsArea.addEventListener("click", cancelMenu);
document.body.addEventListener("click", cancelMenu);
menuButton.addEventListener("click", toggleMenu);
settingsMenu.addEventListener("click", event => event.stopPropagation());
</script>

<section>
	<h1>Asetukset</h1>
	<form action="/settings" method="post" style="display: inline-block">
		Lähetä muistutussähköposti<br>jos minua ei näy kahteen päivään:<br><br>
		<input type="radio" name="nag_emails" id="no_nag_emails" value="off" {{#unless nag_emails}}checked{{/unless}}><label for="no_nag_emails">pois</label>
		<input type="radio" name="nag_emails" id="yes_nag_emails" value="on" {{#if nag_emails}}checked{{/if}}><label for="yes_nag_emails">päällä</label><br>
		<button style="margin-top: 1em;">Ok</button>
	</form>
</section>

{{/inline}}

{{~> base.html ~}}
