{{#*inline "page_script_link"}}
<script src="/static/ts/survey.js"></script>
{{/inline}}

{{#*inline "main_section"}}
	<section id="topmessage">
		<button id="backButton" class="iconlike uiButton" style="display: None;"><img src="/static/images/back.png"></button>
	</section>
	<button id="menuButton" class="iconlike uiButton"><img src="/static/images/menu.png"></button>
	<section id="settings" style="display: none;">
		<ul id="settingsMenu">
			<li><form action="/logout" method="post"><button type="submit" class="linklike">Kirjaudu ulos</button></form></li>
			<li><a href="/change_password">Vaihda salasanaa</a></li>
		</ul>
	</section>

	<input type="hidden" value="{{ answered_questions }}" id="answered_questions">

	<header>
	<h1>Kysely <span id="progressMeter"></span></h1>
	</header>
		<div id="surveyBox">
			<h2 id="questionText"></h2>
			<div id="answerButtons">
			</div>
		</div>

{{/inline}}

{{~> base.html ~}}
