{{#partial main_section}}
	<header>
	<h1>Kysely</h1>
	<p>Kysymme alkuun lyhyesti siitä, millä tavalla olet yleensä tekemisissä japanin kielen kanssa.</p>
	</header>
	<form method="post">
		<div id="surveyBox">
			<h2 id="questionText"></h2>
			<div id="answerButtons">
			</div>
		</div>

		<script>
		function incrementFactory() {

			var answers_1 = [
				"satunnaisesti; joitakin kertoja<br>vuodessa tai harvemmin",
				"silloin tällöin, mutta joskus on viikkojen<br>tai kuukausien taukoja",
				"viikoittain tai ainakin<br>monta kertaa kuussa",
				"monta kertaa viikossa",
				"päivittäin",
			];

			var answers_2 = [
				"olen käynyt kerran",
				"olen käynyt joitakin kertoja",
				"käyn vähintään kerran muutamassa vuodessa",
				"käyn kerran vuodessa tai useammin",
			];

			var answers_3 = [
				"käyn monta tuntia viikossa",
				"käyn kerran viikossa",
				"olen käynyt satunnaisesti/lyhytkestoisesti",
				"en ole käynyt",
			];

			var answers_4 = "textfield";
			var answers_5 = "fourfold";
			var answers_6 = "languages";

			var questions = [
			{q: "Juttelen japaniksi verkossa, esimerkiksi Facebookissa, Twitterissä tai Linessä.", a: answers_1},
			{q: "Luen japanilaisia blogeja.", a: answers_1},
			{q: "Kuuntelen japanilaisia radio-ohjelmia tai podcasteja.", a: answers_1},
			{q: "Kuuntelen japanilaista musiikkia niin intensiivisesti, että kuuntelen tai selvitän, mitä sanat tarkoittavat.", a: answers_1},
			{q: "Katson animea.", a: answers_1},
			{q: "Puhun japania livenä japanilaisten<br/>tuttavien kanssa", a: answers_1},
			{q: "Katson japanilaisia draamasarjoja tai näytelmäelokuvia.", a: answers_1},
			{q: "Katson japanilaisia ajankohtaisohjelmia, komediaa ym. TV-ohjelmia.", a: answers_1},
			{q: "Luen mangaa.", a: answers_1},
			{q: "Luen japanilaisia romaaneja, nuortenkirjoja ym. proosaa.", a: answers_1},
			{q: "Matkustan Japaniin.", a: answers_2},
			{q: "Opiskelen japania käymällä kursseilla.", a: answers_3},
			{q: "Opiskelen japania jollain muulla tavalla, millä?", a: answers_4},
			{q: "Jos haluat tarkentaa aiempia vastauksia, sana on vapaa:", a: answers_4},
			{q: "Mitkä uskot olevan vahvuutesi japanin kielitaidossasi?", a: answers_5},
			{q: "Mitä kieliä osaat äidinkielisesti tai lähes-äidinkielisesti? (esim. äidinkielestä poikkeava koulukieli, tai ns. peritty kieli)", a: answers_6},
			];

			var i = 0;
			var surveyBox = $("#surveyBox");
			var answerButtons = $("#answerButtons");

			function increment() {
				i++;
				var question = questions[i].q;
				var answers = questions[i].a;
				$("#questionText").html(question);
				answerButtons.empty();
				if (Array.isArray(answers)) {
					answers.forEach(function(a, j) {
						answerButtons.append('<p><button class="multilineButton">'+a+'</button></p>');
					});
				} else if (answers === "textfield") {
					answerButtons.append('<textarea></textarea><button style="min-width: 60%; margin-top: 1em;">Ok</button>');
				} else if (answers === "fourfold") {
					answerButtons.append('<div></div>\
						<button style="min-width: 60%; margin-top: 1em;">Ok</button>');
				} else if (answers === "languages") {
					answerButtons.append('<input type="checkbox"><label>suomea</label><input type="checkbox"><label>ruotsia</label>\
						<label>jotain muuta, mitä?</label>\
						<input type="text">\
						<button style="min-width: 60%; margin-top: 1em;">Ok</button>');
				};
				$("#answerButtons button").click(function(ev) {
					console.log(this);
					ev.preventDefault();
					surveyBox.css("min-height", surveyBox.css("height"));
					surveyBox.fadeOut(400, function() {
						increment();
						surveyBox.fadeIn();
					});
				});
			};
			return increment;
		}
		var increment = incrementFactory();
		increment();
		</script>
	</form>

{{/partial}}

{{~> base.html ~}}
