{{#partial main_section}}
	<header>
	<h1>Kysely <span id="progressMeter"></span></h1>
	<p>Kysymme alkuun lyhyesti siitä, millä tavalla olet yleensä tekemisissä japanin kielen kanssa.</p>
	</header>
		<div id="surveyBox">
			<h2 id="questionText" style="height: 3.7em;"></h2>
			<div id="answerButtons">
			</div>
		</div>

		<script>

		function surveyReady() {
			$("#questionText").text("Kiitos vastauksista! Nyt japanin harjoittelun pariin.");
			$('<form action="/ok" method="POST">\
				<input type="hidden" value="survey" name="event_ok">\
				<input type="submit" value="Ok" style="min-width: 50%; margin-top: 1em;">\
			</form>').appendTo("#answerButtons");
		};

		function incrementFactory() {

			var answers_1 = [
				"satunnaisesti; joitakin kertoja<br>vuodessa tai harvemmin",
				"silloin tällöin, mutta joskus on viikkojen<br>tai kuukausien taukoja",
				"viikoittain tai ainakin<br>monta kertaa kuussa",
				"monta kertaa viikossa",
				"päivittäin",
			];

			var answers_2 = [
				"olen käynyt kerran",
				"olen käynyt joitakin kertoja",
				"käyn vähintään kerran muutamassa vuodessa",
				"käyn kerran vuodessa tai useammin",
			];

			var answers_3 = [
				"käyn monta tuntia viikossa",
				"käyn kerran viikossa",
				"olen käynyt satunnaisesti/lyhytkestoisesti",
				"en ole käynyt",
			];

			var answers_4 = "textfield";
			var answers_5 = "fourfold";
			var answers_6 = "languages";

			var questions = [
			{q: "Juttelen japaniksi verkossa, esimerkiksi Facebookissa, Twitterissä tai Linessä.", a: answers_1},
			{q: "Luen japanilaisia blogeja.", a: answers_1},
			{q: "Katson YouTubesta ym. videopalveluista japaninkielisiä v-blogeja tai let's play -videoita.", a: answers_1},
			{q: "Kuuntelen japanilaisia radio-ohjelmia tai podcasteja.", a: answers_1},
			{q: "Kuuntelen japanilaista musiikkia niin intensiivisesti, että kuuntelen tai selvitän, mitä sanat tarkoittavat.", a: answers_1},
			{q: "Katson animea.", a: answers_1},
			{q: "Puhun japania livenä japanilaisten<br/>tuttavien kanssa", a: answers_1},
			{q: "Katson japanilaisia draamasarjoja tai näytelmäelokuvia.", a: answers_1},
			{q: "Katson japanilaisia ajankohtaisohjelmia, komediaa ym. TV-ohjelmia.", a: answers_1},
			{q: "Luen mangaa.", a: answers_1},
			{q: "Luen japanilaisia romaaneja, nuortenkirjoja ym. proosaa.", a: answers_1},
			{q: "Matkustan Japaniin.", a: answers_2},
			{q: "Opiskelen japania käymällä kursseilla.", a: answers_3},
			{q: "Opiskelen japania jollain muulla tavalla, millä?", a: answers_4},
			{q: "Jos haluat tarkentaa aiempia vastauksia, sana on vapaa:", a: answers_4},
			{q: "Mitkä uskot olevan vahvuutesi japanin kielitaidossasi?", a: answers_5},
			{q: "Mitä kieliä osaat äidinkielisesti tai lähes-äidinkielisesti? (esim. äidinkielestä poikkeava koulukieli, tai ns. peritty kieli)", a: answers_6},
			];

			var i = 0;
			var main = $("#main");
			var surveyBox = $("#surveyBox");
			var answerButtons = $("#answerButtons");
			var questionText = $("#questionText");
			var progressMeter = $("#progressMeter");

			var answered = [];

			function answerQuestion(answerData) {
				main.css("min-height", main.css("height"));
				$.ajax({
					type: "POST",
					url: "/api/eventdata/survey",
					contentType : "application/json",
					data: JSON.stringify(answerData),
				});
				surveyBox.slideUp(400, function() {
					increment();
					surveyBox.fadeIn();
				});
			}

			function increment() {
				answerButtons.empty();
				if (i === questions.length) {
					return surveyReady();
				}
				progressMeter.text("("+(i+1)+"/"+questions.length+")");
				var question = questions[i].q;
				var answers = questions[i].a;
				questionText.html(question);
				if (Array.isArray(answers)) {

					answers.forEach(function(a, j) {
						var button = $('<button class="multilineButton">'+a+'</button>');

						button.appendTo($('<p></p>').appendTo(answerButtons));
						button.click(function() { answerQuestion({q: question, a: button.html()})});
					});

				} else if (answers === "textfield") {

					var textarea = $('<textarea></textarea>');

					textarea.appendTo(answerButtons);

					$('<button style="min-width: 50%; margin-top: 1em;">Ok</button>')
						.appendTo(answerButtons)
						.click(function() { answerQuestion({q: question, a: textarea.val()}) });

				} else if (answers === "fourfold") {

					var fourfold = $('<div></div>').appendTo(answerButtons);
					var answerData = {q: question, a: null};

					$('<button style="min-width: 60%; margin-top: 1em;">Ok</button>')
						.appendTo(answerButtons)
						.click(function() { answerQuestion({q: question, a: null}) });

				} else if (answers === "languages") {
					$(' <input type="checkbox" id="suomea"><label for="suomea">suomea</label>\
						<input type="checkbox" id="ruotsia"><label for="ruotsia">ruotsia</label>\
						<label>jotain muuta, mitä?</label>\
						<input type="text" id="muutakielta">').appendTo(answerButtons);

					$('<button style="min-width: 50%; margin-top: 1em;">Ok</button>')
						.appendTo(answerButtons)
						.click(function() {
							var answerData = {q: question, a:
								{	suomea: $("#suomea").is(":checked"),
									ruotsia: $("#ruotsia").is(":checked"),
									muuta: $("#muutakielta").val(),
								}
							};
							answerQuestion(answerData);
						});
				};
				i++;
			};
			return increment;
		}
		var increment = incrementFactory();
		increment();
		</script>

{{/partial}}

{{~> base.html ~}}
