{{#partial page_script_link}}
	<script src="static/ts/users.js"></script>
{{/partial}}

{{#partial main_section}}

	<h1>Users</h1>

	<table class="userTable">
		<thead style="font-size: 11px;">
			<tr id="groupHeader"><th>Users</th></tr>
		</thead>
		<tbody id="usersList">

		</tbody>
	</table>
	<br>
	<h2>Pending e-mail confirms</h2>
	<ul id="pendingUsersList"></ul>
	<br>
	<h2>User activity</h2>
	<table class="userTable">
		<thead style="font-size: 11px;">
			<tr id="colHeader"><th>Users</th><th>Days used</th><th>Time used</th><th>Words</th><th>Quizes answered</th><th>Quiz accuracy</th>
			<th>Overdues</th>
			<th>Words/sess</th><th>Words/day</th>
			<th>Quizes/sess</th><th>Quizes/day</th>
			<th>Break?</th><th>Reset passwd</th><th>Last seen</th>
			</tr>
		</thead>
		<tbody id="userActivityRows">

		</tbody>
	</table>
	<h2>User details</h2>
	<div id="userDetails">No user selected</div>

	<input type="checkbox" id="show_anon"><label for="show_anon">Show anon</label>

{{/partial}}

{{~> base.html main_class="fullwidth" ~}}
